<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Store</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <script type="text/javascript">
        const user = '{{ request.user }}';

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        let csrftoken = getToken('csrftoken');
        console.log('CSRFTOKEN', csrftoken)
    </script>


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-info" style="height: 70px">
    <a href="{% url 'store' %}">
        <img id="camera-icon" src="{% static 'images/camera-sticker.png' %}">
    </a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'store' %}"> Store <span
                        class="sr-only">(current)</span></a>
        </ul>

        {% if user.is_authenticated %}
            <div class="form-inline my-2 my-lg-0">
            <a class="text-white">Hello, {{ user.username }} </a>
            <a href="{% url 'logout' %}" class="btn btn-info">Logout</a>
        {% else %}

            <a href="{% url 'login' %}" class="btn btn-info">Login</a>
            <div class="form-inline my-2 my-lg-0">
            <a href="{% url 'register' %}" class="btn btn-info">Register</a>

        {% endif %}
        <a href="{% url 'cart' %}">
            <img id="cart-icon" src="{% static 'images/cart.png' %}">
        </a>
        </div>
        </div>
    </div>
</nav>

 <form class="form-inline my-2 my-lg-0" style="float: right" >
     <input class="form-control mr-sm-2" type="search"  placeholder="Search" aria-label="Search" style="text-align: right">
     <button class="btn btn-dark my-2 " type="submit" >Search</button>
 </form>


<div class="container">
    <br>
<br>
    {% block content %}

    {% endblock content %}
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>