{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <div class="card  text-white">
        <img class="card-img" src="static/images/Nikon.jpeg" alt="Card image">
        <div class="card-img-overlay">
            <h5 class="card-title text-white">Digital Photography</h5>
            <p class="card-text">Shipping Worldwide</p>

        </div>
    </div>

    <div class="row">
        {% for product in products %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{ product.image.url }}">
                <div class="box-element product">
                    <h6><strong>{{ product.name }}</strong></h6>
                    <hr>
                    <button data-product={{ product.id }} data-action="add"
                            class="btn btn-outline-secondary add-btn update-cart">Add to Cart
                    </button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style=" display: inline-block; float: right">
                        <strong>{{ product.price | floatformat:2 }}$</strong></h4>

                </div>
            </div>

        {% endfor %}
    </div>
{% endblock content %}